@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wrapper {
  position: relative;
  overflow: hidden;
}

.cloud-wrap {
  animation: infinity-loop 5s infinite linear 0.1s both;
  flex: 1 0 auto;
  flex-grow: 1;
  width: 150%;
}

.desktop-animated {
  stroke-dasharray: 50;
  stroke-dashoffset: 0;
  stroke: none;
  animation: dash 2s linear forwards;
  animation-delay: 0.75s;
}

.mug-animated {
  stroke-dasharray: 3000;
  stroke-dashoffset: 0;
  stroke: none;
  animation: mug-dash 2.5s linear forwards;
  animation-delay: 0.9s;
}

@keyframes dash {
  from {
    stroke: black;
    stroke-dashoffset: 50;
  }
  to {
    stroke: black;
    stroke-dashoffset: 0;
  }
}

@keyframes mug-dash {
  0% {
    stroke: black;
    stroke-dashoffset: 3000;
  }
  100% {
    stroke: black;
    stroke-dashoffset: 0;
  }
}
